<div class="odd">
    <h2>Even</h2>
    <div class="odd__body">
        <div class="odd__item">1</div>
        <div class="odd__item">2</div>
        <div class="odd__item">3</div>
        <div class="odd__item">1</div>
        <div class="odd__item">2</div>
        <div class="odd__item">3</div>
        <div class="odd__item">1</div>
        <div class="odd__item">2</div>
        <div class="odd__item">3</div>
        <div class="odd__item">1</div>
        <div class="odd__item">2</div>
        <div class="odd__item">3</div>
    </div>
</div>