.authcontrols {
    width: 150px;
    margin: 0 auto;
    &__btn {
        color: #fff;
        cursor: pointer;
        height: 50px;
        display: grid;
        grid-template-columns: 50px 1fr;
        align-items: center;
        font-size: 18px;
        transition: background-color .3s;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        i {
            padding-left: 10px;
        }
    }
    .sign--in {
        background-color: #1dff74;
    }
    .sign--in:hover {
        background-color: rgba(29, 255, 116, .7);
    }
    .sign--out {
        background-color: #ff4f4f;
    }
    .sign--out:hover {
        background-color: rgba(255, 79, 79, .7);
    }
}