.mission {
    max-width: 1170px;
    margin: 0 auto;
    h1 {
        text-align: center;
    }
    &__body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        mat-card {
            height: 300px;
            cursor: pointer;
            transition: .3s;
            padding: 0;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }
        }
        mat-card:hover {
            transform: scale(.95);
        }
    }
}