<div class="mission">
    <h1>Photos of the selected mission</h1>
    <div class="mission__body">
        <mat-card>
            <img src="" alt="img">
        </mat-card>
        <mat-card>
            <img src="" alt="img">
        </mat-card>
        <mat-card>
            <img src="" alt="img">
        </mat-card>
        <mat-card>
            <img src="" alt="img">
        </mat-card>
        <mat-card>
            <img src="" alt="img">
        </mat-card>
        <mat-card>
            <img src="" alt="img">
        </mat-card>
        <mat-card>
            <img src="" alt="img">
        </mat-card>
        <mat-card>
            <img src="" alt="img">
        </mat-card>
        <mat-card>
            <img src="" alt="img">
        </mat-card>
        <mat-card>
            <img src="" alt="img">
        </mat-card>
        <mat-card>
            <img src="" alt="img">
        </mat-card>
        <mat-card>
            <img src="" alt="img">
        </mat-card>
    </div>
</div>