<div class="productpage">
    <div class="card">
        <div class="card__menu"
            (click)="toggleNav()"
        >
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="card__column card__icon">
            <i class="fas fa-shopping-basket"></i>
        </div>
        <div class="card__column card__content">
            <p>Name: <span>{{ product.name }}</span></p>
            <p>Amount: <span>{{ product.amount }}</span></p>
        </div>
        <div class="card__nav"
            [ngClass]="{active: cardNav}"
        >
            <button (click)="handleEdit(productName.value)">
                <i class="fas fa-pencil-alt"
                    *ngIf="!editInput;else editing"
                ></i>
                <ng-template #editing>
                    <i class="fas fa-save"></i>
                </ng-template>
            </button>
            <button (click)="handleCloning(product)">
                <i class="fas fa-clone"></i>
            </button>
            <button (click)="handleDelete(product.id)">
                <i class="fas fa-trash"></i>
            </button>
            <input 
                type="text" 
                [ngClass]="{active: editInput}"
                [value]="product.name"
                #productName
            >
        </div>
    </div>
</div>