<div class="product">
    <i class="fas fa-cart-plus"></i>
    <div class="product__content">
        <div
            class="product__details"
            [ngClass]="{active: editInput ? false : true}"
        >
            <p class="product__name">{{ product.name }}</p>
            <p class="product__amount">{{ product.amount }}</p>
        </div>
        <div 
            class="product__edit-holder"
            [ngClass]="{active: editInput}"
        >
            <input 
                type="text" 
                [value]="product.name"
                #editedName
            >
        </div>
    </div>
    <button 
        class="product__edit-btn" 
        (click)="editInput = !editInput"
        *ngIf="!editInput;else saveBtn"
    >
        <i class="fas fa-pencil-alt"></i>
    </button>
    <ng-template #saveBtn>
        <button 
            class="product__edit-btn save--btn" 
            (click)="handleEdit(product.id, editedName.value)"
        >
            <i class="fas fa-save"></i>
        </button>
    </ng-template>
    <div class="product__controls">
        <button (click)="shoppingService.cloneProduct(product)">
            <i class="fas fa-clone"></i>
        </button>
        <button (click)="shoppingService.deleteProduct(product.id)">
            <i class="fas fa-trash"></i>
        </button>
    </div>
</div>