.product {
    box-shadow: 
        0 0px 3px rgba(0,0,0,0.12), 
        0 0px 2px rgba(0,0,0,0.24);
    height: 70px;
    display: grid;
    grid-template-columns: 70px 1fr 40px 40px;
    background-color: #1389b4;
    margin-top: 10px;
    transform: translateX(100%);
    animation: slideIn .8s forwards;
    &__content {
        position: relative;
        padding: 10px;
        color: #fff;
        overflow: hidden;
    }
    .fa-cart-plus {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: #fff;
    }
    &__details {
        transition: .5s;
        transform: translateY(calc(-100% - 10px));
        position: absolute;
        top: 10px;
        left: 10px;
    }
    &__details.active {
        transform: translateY(0%)
    }

    &__name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    &__amount {
        font-size: 16px;
    }

    &__edit-holder {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(calc(100% + 10px));
        transition: .5s;
        input {
            width: 80%;
            height: 30px;
            outline: none;
            border: none;
            background-color: rgba(255, 255, 255, .3);
            text-align: center;
            color: #fff;
            transition: .3s;
        }
        input:focus {
            background-color: rgba(255, 255, 255, .4);
        }
    }
    &__edit-holder.active {
        transform: translateX(0%);
    }

    &__edit-btn {
        outline: none;
        border: none;
        color: #fff;
        background-color: rgba(255, 143, 14, .8);
        cursor: pointer;
        transition: .3s;
        font-size: 18px;
    }
    &__edit-btn:hover {
        background-color: rgba(255, 143, 14, 1);
    }

    .save--btn {
        background-color: rgba(9, 243, 223, .8);
        transition: .3s;
    }
    .save--btn:hover {
        background-color: rgba(9, 243, 223, 1);
    }

    &__controls {
        display: grid;
        button {
            border: none;
            color: #fff;
            font-size: 18px;
            outline: none;
            cursor: pointer;
            transition: .3s;
        }
        button:first-child {
            background-color: rgba(0, 235, 0, .8);
        }
        button:last-child {
            background-color: rgba(255, 0, 0, .8);
        }

        button:first-child:hover {
            background-color: rgba(0, 235, 0, 1);
        }
        button:last-child:hover {
            background-color: rgba(255, 0, 0, 1);
        }
    }
}

@keyframes slideIn {
    100% {
        transform: translateX(0%);
    }
}