<div class="wrapper">
  <form class="form">
    <h1>Form</h1>
    <div class="form__body">
      <label for="name">Name:</label>
      <input 
        type="text" 
        name="name" 
        id="name"
        placeholder="Here comes your name..."
      >

      <label for="email">Email:</label>
      <input 
        type="email" 
        name="email" 
        id="email"
        placeholder="Here comes your email..."
      >

      <label for="stack">Stack:</label>
      <select name="stack" id="stack">
        <option value="angular">Angular</option>
        <option value="react">React</option>
        <option value="flutter">Flutter</option>
      </select>

      <label for="password">Password:</label>
      <input 
        type="password" 
        name="password" 
        id="password"
        placeholder="Here comes your password..."
      >
    </div>
    <button type="submit">Submit</button>
  </form>
</div>