<div class="wrapper">
  <form class="form">
    <h1>Form</h1>
    <div class="form__body">
      <div class="form__section">
        <label for="name">Name:</label>
        <input 
          type="text" 
          name="name" 
          id="name"
        >
        <p class="error__message">Lorem, ipsum dolor!</p>
      </div>

      <div class="form__section">
        <label for="email">Email:</label>
        <input 
          type="email" 
          name="email" 
          id="email"
        >
        <p class="error__message">Lorem, ipsum dolor!</p>
      </div>

      <div class="form__section">
        <label for="framework">Framework:</label>
        <select name="framework" id="framework">
          <option value="angular">Angular</option>
          <option value="react">React</option>
          <option value="vue">Vue</option>
        </select>
        <p class="error__message">Lorem, ipsum dolor!</p>
      </div>

      <button class="form__add">Add</button>
    </div>
    <button type="submit" class="form__submit">Submit</button>
  </form>
</div>