.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-top: 10px;
    margin-bottom: 15px;
    a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        display: block;
        cursor: pointer;
        width: 200px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, .5);
        margin: 0 5px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition: .3s;
    }
    a.active {
        background-color: rgba(255, 255, 255, 1);
        color: #0081ae;
    }
}