<div class="gallery">
    <app-card  ></app-card>
    <app-card [routerLink]="['/mission/1']" ></app-card>
    <app-card [routerLink]="['/mission/1']" ></app-card>
    <app-card [routerLink]="['/mission/1']" ></app-card>
    <app-card [routerLink]="['/mission/1']" ></app-card>
    <app-card [routerLink]="['/mission/1']" ></app-card>
    <app-card [routerLink]="['/mission/1']" ></app-card>
    <app-card [routerLink]="['/mission/1']" ></app-card>
    <app-card [routerLink]="['/mission/1']" ></app-card>
    <app-card [routerLink]="['/mission/1']" ></app-card>
    <app-card [routerLink]="['/mission/1']"></app-card>
</div>