<div class="even">
    <h2>Even</h2>
    <div class="even__body">
        <div class="even__item">1</div>
        <div class="even__item">2</div>
        <div class="even__item">3</div>
        <div class="even__item">1</div>
        <div class="even__item">2</div>
        <div class="even__item">3</div>
        <div class="even__item">1</div>
        <div class="even__item">2</div>
        <div class="even__item">3</div>
        <div class="even__item">1</div>
        <div class="even__item">2</div>
        <div class="even__item">3</div>
    </div>
</div>