.shoppinglist {
    height: calc(100vh - 125px);
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: show 1s forwards;
    h1 {
        color: #fff;
        text-align: center;
        font-size: 35px;
        margin-bottom: 10px;
    }
    &__list {
        background-color: #fff;
        box-shadow: 
        0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
        max-width: 300px;
        margin: 0 auto;
        padding: 10px 30px;
        list-style: circle;
        li {
            font-size: 18px;
            outline: none;
            cursor: pointer;
            padding: 5px 0;
        }
        li:hover {
            color: #0091c4;
            font-weight: bold;
        }
    }
}

@keyframes show {
    100% {
        opacity: 1;
    }
}