.nav {
    // background-color: rgba(255, 255, 255, .4);
    height: 40px;
    &__body {
        width: 1170px;
        margin: 0 auto;
        padding: 0 10px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__btn {
        color: #fff;
        width: 120px;
    }
    .router-link-active {
        background-color: rgba(105, 105, 248, .3);
    }
}