<div class="nav">
    <div class="nav__body">
        <button 
            class="nav__btn"
            routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{exact: true}"
            mat-button
            [routerLink]="['']" 
        >
            Home
        </button>
        
        <button 
            class="nav__btn"
            routerLinkActive="router-link-active"
            mat-button
            [routerLink]="['missions']" 
        >
            Missions
        </button>
        <button 
            class="nav__btn"
            routerLinkActive="router-link-active"
            mat-button
            [routerLink]="['about']"
        >
            About
        </button>
    </div>
</div>